.hero-heading-left {
    position: relative;
    padding: 80px 30px;
    border-bottom: 1px solid #e4ebf3;
    background-color: #f5f7fa;
  }
  
  .container {
    width: 100%;
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .hero-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .hero-split {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 46%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .margin-bottom-24px {
    margin-bottom: 24px;
  }
  
  .button-primary {
    padding: 12px 25px;
    background-color: #1a1b1f;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .button-primary:hover {
    background-color: #32343a;
    color: #fff;
  }
  
  .button-primary:active {
    background-color: #43464d;
  }
  
  .shadow-two {
    box-shadow: 0 4px 24px 0 rgba(150, 163, 181, 0.08);
  }
  
  .div-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 80vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-position: 0px 0px;
    background-size: auto;
  }
  
  .table-div {
    position: fixed;
    width: 100vw;
    height: 100%;
    max-height: 80vh;
  }
  
  .poker-table-img {
    position: relative;
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: fill;
    object-fit: fill;
  }
  
  .body {
    background-image: url("https://uploads-ssl.webflow.com/63f3f687ba0c76b741bfe83a/63f3f6fa2ec48a45026d0e0c_background.svg");
    background-position: 0px 0px;
    background-size: auto;
  }

  .community-cards {
    height: 15vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  svg {
    height: 100%;
    width: 100%;
    
  }
  .table-cards {
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 75vh;
    padding-top: 100px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .center-cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .card {
    position: relative;
    z-index: 2;
    height: 15vh;
    margin-left: 4px;
    margin-right: 4px;
  }
  
  .image {
    position: relative;
    z-index: 0;
  }
  
  .card-image {
    position: relative;
    width: auto;
    height: 100%;
  }
  
  .actual-table {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .side {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90vw;
    height: 20vh;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  
  .heading {
    background-color: transparent;
    font-family: Merriweather, serif;
    color: #fff;
  }
  
  .gpt-bame {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .bet {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .heading-2 {
    color: #fff;
  }
  
  .div-block-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .player-side {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .player-options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 5vw;
    padding-left: 5vw;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .option {
    margin-right: 1vw;
    margin-left: 1vw;
  }

  .player-card-1 {
    position: absolute;
    z-index: 2;
    height: 28vh;
  }
  .player-card-2 {
    position: absolute;
    z-index: 2;
    height: 28vh;
    right:9vw;
    top:2vh;
  }
  
  .center_thing {
    display: flex;
    align-items: center;
  }
  
  .endgame-card {
    height: 20vh;
  }